body{
    background-color: goldenrod;
}

h1{
    color: red;
    font-size: 50px;
}

img:hover{
    background-color: gold;
}

.bacon{
    background-color: green;
}

.broccoli{
    background-color: red;
}

.circular{
    border-radius: 100%;
}